# Additional dependencies for source-built Airflow tarball
# Versions constrained by constraints-3.11.txt (except PyMySQL)

PyMySQL==1.1.1
setuptools==69.1.0
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-apache-spark
apache-airflow-providers-trino
apache-airflow-providers-ssh
apache-airflow-providers-apache-sqoop==4.2.1
connexion[swagger-ui]
numpy
pandas
lxml
xmlsec
Markdown
docutils
pydantic
backoff
virtualenv
venv-pack
